<?xml version="1.0"?>
<config>
    <modules>
        <Timvroom_Frontendwysiwyg>
            <version>1.0.0</version>
        </Timvroom_Frontendwysiwyg>
    </modules>
    <global>
        <blocks>
            <timvroom_frontendwysiwyg>
                <class>Timvroom_Frontendwysiwyg_Block</class>
            </timvroom_frontendwysiwyg>
        </blocks>
        <helpers>
            <timvroom_frontendwysiwyg>
                <class>Timvroom_Frontendwysiwyg_Helper</class>
            </timvroom_frontendwysiwyg>
        </helpers>
        <models>
            <timvroom_frontendwysiwyg>
                <class>Timvroom_Frontendwysiwyg_Model</class>
            </timvroom_frontendwysiwyg>
        </models>
        <resources>
            <timvroom_frontendwysiwyg_setup>
                <setup>
                    <module>Timvroom_Frontendwysiwyg</module>
                </setup>
            </timvroom_frontendwysiwyg_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <timvroom_frontendwysiwyg>
                <use>standard</use>
                <args>
                    <module>Timvroom_Frontendwysiwyg</module>
                    <frontName>timvroom_wysiwyg</frontName>
                </args>
            </timvroom_frontendwysiwyg>
        </routers>
        <events>
            <cms_page_render>
                <observers>
                    <cms_page_render_preparewysiwyg>
                        <type>singleton</type>
                        <class>Timvroom_Frontendwysiwyg_Model_Observer</class>
                        <method>prepareWysiwyg</method>
                    </cms_page_render_preparewysiwyg>
                </observers>
            </cms_page_render>
        </events>
        <layout>
            <updates>
                <timvroom_frontendwysiwyg>
                    <file>timvroom_frontendwysiwyg.xml</file>
                </timvroom_frontendwysiwyg>
            </updates>
        </layout>
    </frontend>
    <default>
        <timvroom_frontendwysiwyg>
            <general>
                <active>1</active>
            </general>
        </timvroom_frontendwysiwyg>
    </default>
</config>
